service: rvm-api

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: dev

  httpApi:
    cors:
      allowedOrigins:
        - http://localhost:5173
        - https://realvaluemarketing.com
        - https://www.realvaluemarketing.com
      allowedMethods:
        - GET
        - POST
        - OPTIONS
      allowedHeaders:
        - Content-Type

  environment:
    ODOO_URL: ${env:ODOO_URL}
    ODOO_DB: ${env:ODOO_DB}
    ODOO_USER: ${env:ODOO_USER}
    ODOO_PASSWORD: ${env:ODOO_PASSWORD}

    FRONTEND_ORIGIN: ${env:FRONTEND_ORIGIN}
    FRONTEND_ORIGIN_WWW: ${env:FRONTEND_ORIGIN_WWW}

build:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    platform: node
    target: node18

functions:
  api:
    handler: src/handler.api
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
